<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>品牌列表操作案列</title>
		<script src="../lib/vue-2.4.0.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.7.css"/>
	</head>
	<body>
		<div id="app">
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">添加品牌</h3>
				</div>
				<div class="panel-body form-inline">
					<label>Id:
						<input type="text" class="form-control" v-model="id" />
					</label>
					<label>Name:
						<!-- 键盘敲击事件 @keyup enter 为回车按键修饰符，也可以自定义案件修饰符 -->
						<!-- <input type="text" class="form-control" v-model="name" @keyup.enter="add" /> -->
						<input type="text" class="form-control" v-model="name" @keyup.f2="add" />
					</label>
					
					<!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
					<input type="button" class="btn btn-primary" value="添加" @click="add()" />
					
					<label>关键字搜索:
						<input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color="'red'" />
					</label>
				</div>
			</div>
			
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Ctime</th>
						<th>Operation</th>
					</tr>
				</thead>
			
				<tbody>
					<tr v-for="item in search(keywords)" :key="item.id">
						<td>{{ item.id }}</td>
						<td v-text="item.name"></td>
						<td>{{ item.ctime | dateFormat }}</td>
						<td>
							<a href="" @click.prevent="del(item.id)">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div id="app2">
			<h3 v-color="'pink'" v-fontweight="900" v-fontsize="40">{{ dt | dateFormat }}</h3>
		</div>
		
		<script type="text/javascript">
			// 全局的过滤器,进行时间的格式化
			Vue.filter('dateFormat',function(dateStr,pattern = ''){
				// 根据给定的时间字符串,得到特定的时间
				var dt = new Date(dateStr)
				
				// yyyy-mm-dd
				var y = dt.getFullYear()
				var m = (dt.getMonth() + 1).toString().padStart(2,'0')
				var d = dt.getDate().toString().padStart(2,'0')
				
				if(pattern.toLowerCase() == 'yyyy-mm-dd'){
				return `${y}-${m}-${d}`
				}else{
					var hh = dt.getHours().toString().padStart(2,'0')
					var mm = dt.getMinutes().toString().padStart(2,'0')
					var ss = dt.getSeconds().toString().padStart(2,'0')
					
					return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
				}
			})
			
			// 自定义全局按键修饰符
			Vue.config.keyCodes.f2 = 113
				
			// 更新自动获取焦点,可以通过 id 或 自定义指令来实现
			// document.getElementById('search').focus()
			//使用 Vue.directive() 定义全局的指令 v-focus
			//在定义指令的时候,指令名称前面不需要加 v- 前缀,但在调用的时候,必须在指令名称前加上 v- 前缀来调用
			Vue.directive('focus', {
			//注意在每个函数中，第一个参数永远是el表示被绑定了指令的哪个元素，这个el是元素的js对象  
			   bind: function(el){//每当指令绑定到元素上的时候，会立即执行，只执行一次
			   //在元素绑定了指令时候，还没有插入到DOM中去，这时候调用focus方法没有作用。因为这个元素只有在插入DOM之后才能获取焦点。
			
			   },
			   inserted: function(el){// 元素插入到DOM中的时候，会执行inserted函数，触发一次
					el.focus()
			   },
			   updated: function(el) {//当VNode更新的时候，会执行updated，可能会触发多次
			        
			   },
			})
			
			Vue.directive('color',{
				bind:function(el ,binding){
					// el.style.color = 'red'
					el.style.color = binding.value
				}
			})
			
			
			
			
			var vm = new Vue({
				el:'#app',
				data:{
					id:'',
					name:'',
					keywords:'',
					list:[
						{ id:1,name:'玛莎拉蒂',ctime: new Date() },
						{ id:2,name:'奥迪',ctime: new Date() },
						{ id:3,name:'宝马',ctime: new Date() },
						{ id:4,name:'法拉利',ctime: new Date() }
					]
				},
				methods:{
					add(){	//添加的方法
						console.log('您已点击添加！')
						// 分析：
						// 1. 获取到 id 和 name ,直接从 data 上面获取 
						// 2. 组织出一个对象
						// 3. 把这个对象，调用 数组的 相关方法，添加到 当前 data 上的 list 中
						// 4. 注意：在Vue中，已经实现了数据的双向绑定，每当我们修改了 data 中的数据，Vue会默认监听到数据的改动，自动把最新的数据，应用到页面上；
						// 5. 当我们意识到上面的第四步的时候，就证明大家已经入门Vue了，我们更多的是在进行 VM中 Model 数据的操作，同时，在操作Model数据的时候，指定的业务逻辑操作；
				
						var car = { id:this.id, name:this.name, ctime:new Date() }
						this.list.push(car)
						this.id = this.name = ''
					},
					del(id){	//根据 id 来删除数据
						// 分析：
						// 1. 如何根据Id，找到要删除这一项的索引
						// 2. 如果找到索引了，直接调用 数组的 splice 方法
						
						// this.list.some((item,i)=>{
						// 	if(item.id == id){
						// 		this.list.splice(i,1)
						// 		return true;
						// 	}
						// })
						
						var index =  this.list.findIndex(item => {
							if(item.id == id){
								return true;
							}
						})
						console.log('您已点击删除！')
						this.list.splice(index,1)
					},
					search(keywords){
						var newlist = []
						//For each some filter findIndex这些都属于数组的新方法
                        //都会对数组中的每一项进行遍历
						
						// this.list.forEach(item => {
						// 	if(item.name.indexOf(keywords) != -1){
						// 	newlist.push(item)
						// 	}
						// })
						// return newlist
						
						
						//方法二
                        //在ES6中，为字符串提供了一个新的方法。String.prototype.includes('要包含合法的字符串')
                        //如果包含，则返回true，否则返回false
                         // contain
						var newlist = this.list.filter(item => {
							if(item.name.includes(keywords)){
								return item
							}
						})
						return newlist
					}
				}
			})
		
			//如何定义一个私有的过滤器(局部)
			var vm2 = new Vue({
			el:'#app2',
			data:{
				dt:new Date()
			},
			methods:{},
			filters:{	//定义私有过滤器  过滤器有两个条件 [过滤器名称 和处理函数]
				//过滤器调用的时候,采用的是就近原则,如果私有过滤器与全局过滤器名称一致,这时候优先调用私有过滤器
				dateFormat:function(dateStr,pattern=''){
					var dt = new Date(dateStr)
					var y = dt.getFullYear()
					var m = (dt.getMonth() + 1).toString().padStart(2,'0')
					var d = dt.getDate().toString().padStart(2,'0')
					
					if(pattern.toLowerCase() == 'yyyy-mm-dd'){
					return `${y}-${m}-${d}`
					}else{
						var hh = dt.getHours().toString().padStart(2,'0')
						var mm = dt.getMinutes().toString().padStart(2,'0')
						var ss = dt.getSeconds().toString().padStart(2,'0')
						return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~~`
					}
				}
			},
			directives:{	//自定义私有指令
				'fontweight':{	//设置字体粗细
					bind:function(el,binding){
						el.style.fontWeight = binding.value
					}
				},
				'fontsize':function(el,binding){	//这个 function 等同于把代码写到了 bind 和 update 中去
					el.style.fontSize = parseInt(binding.value) + 'px'
				}
			}
			
		})
		</script>
	</body>
</html>
