<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Text09/src/Day09_01格式化处理数字/TurNumberFormat.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Day09_01格式化处理数字.TurNumberFormat"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Text09"/>
</launchConfiguration>
